div.contact-form textarea {
    display: block;
    width: 80%;
    min-height: 150px;
    resize: none;
    font-size: 1.1rem;
    line-height: 1.5;
}

div.contact-form button {
    margin-top: 1rem;
    padding: 10px 15px;
    background-color: transparent;
    border: 2px solid #111;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: .2s all;
}

div.contact-form button:hover {
    color: burlywood;
    background-color: #111;
}